{{ form_start(form) }}
<div class="grow-0 shrink-0 basis-auto my-4 w-full xl:w-5/12 px-3 lg:px-6 mb-12 xl:mb-0">
    <div>
        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="recovery_containers_vendor" class="form-label inline-block text-gray-600">
                    Fournisseur
                </label>
                {{ form_row(form.vendor)}}    
            </div>
        </div>        
        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="recovery_containers_gaz" class="form-label inline-block text-gray-600">
                    Type de gaz <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.gaz)}}    
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6">
            <div class="datepicker relative  mb-3 xl:w-96">
                <label for="recovery_containers_return_date" class="form-label inline-block text-gray-600">
                    Date de retour <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.return_date)}}    
            </div>
        </div>
        <div class="flex items-center justify-center">

        <div class="hidden">
                {{ form_row(form.number)}}    
                {{ form_row(form.total_weight)}}
                {{ form_row(form.tare)}}
                {{ form_row(form.purchase_date)}}         
        </div>      
        {{ form_row(form._token) }}
        <div class="flex space-x-2 mt-3 mb-6 justify-center">
            <div>
                <button type="button" onclick="window.location.href = '{{ path('app_recovery_containers_index') }}'" class="btn-blue-return"> 
                    retour
                </button>

                <button type="submit" class="btn-green-validation">
                    Sauvegarder
                </button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
