{% extends 'base.html.twig' %}

{% block title %}Index des bouteilles de récupération{% endblock %}

{% block body %}
<section class="container mx-auto ">

    <div class="header-title-container">
        <h1>
            Choisir une récup'
        </h1>
    </div>

    <div class="card-holder">
        <div class="card-holder-slip">
  
            {% for rc in recoveryContainers %}
                <div class="bottle-card">
                    <div class="bottle-card-in">
                        <div class="bottle-card-text-content">
                            <h5> <span class="font-bold">{{rc.gaz}}</span> &emsp;&emsp; N° {{rc.number}} </h5>
                                <p>
                                    {% set val = 0 %}
                                        {% for vr in volumeRecovered %}
                                                {% if rc.id == vr.container %}
                                                    {% set val = val + vr.totalQ %} 
                                                {% endif %}
                                        {% endfor %}
                                    <i> Quantité chargée:</i> <span class="font-bold">{{val}} / {{rc.totalWeight}} </span> kg   
                                </p>
                        </div>
                        <div class="bottle-card-buttons-action">

                                <button type="button" onclick="window.location.href = '{{path('app_recovery_containers_edit', {id:rc.id})}}'" class="return-button">
                                    <i class="bi bi-truck text-xl"></i>
                                </button>
                                <button type="button" onclick="window.location.href = '{{path('app_recovery_containers_movements_index', {id:rc.id})}}'" class="array-button">
                                    <i class="bi bi-table text-xl"></i>
                                </button>
                                <button type="button" onclick="window.location.href = '{{path('app_recovery_containers_movements_new', {id:rc.id})}}'" class="pencil-button">
                                    <i class="bi bi-pencil-fill text-xl"></i>
                                </button>
                        </div> 
                    </div>
                </div>
            {% else %}
                <div class="flex m-4 flex-row  justify-center ">
                    <p class="text-gray-700 p-4 border-y-4 border-gray-200 font-bold text-base mt-12 ">
                        Aucune bouteille de fluide en stock  
                    </p>
                </div>
            {% endfor %}

        </div>
    </div>

</section>

   
{% endblock %}
