{% extends 'base.html.twig' %}

{% block title %}RecoveryContainers{% endblock %}

{% block body %}
    <h1>RecoveryContainers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recovery_container.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ recovery_container.number }}</td>
            </tr>
            <tr>
                <th>Gaz</th>
                <td>{{ recovery_container.gaz }}</td>
            </tr>
            <tr>
                <th>Tare</th>
                <td>{{ recovery_container.tare }}</td>
            </tr>
            <tr>
                <th>Purchase_date</th>
                <td>{{ recovery_container.purchaseDate ? recovery_container.purchaseDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Return_date</th>
                <td>{{ recovery_container.returnDate ? recovery_container.returnDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Total_weight</th>
                <td>{{ recovery_container.totalWeight }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recovery_containers_index') }}">back to list</a>

    <a href="{{ path('app_recovery_containers_edit', {'id': recovery_container.id}) }}">edit</a>

    {{ include('recovery_containers/_delete_form.html.twig') }}
{% endblock %}
