{{ form_start(form) }}

<div class="form-container-global">
    <div>
        <div class="widget-container">
            <div class="form-widget">
                <label for="new_containers_number"  class="form-label inline-block text-gray-600">
                    Numéro de bouteille
                </label>
                {{ form_row(form.number,{'disabled': true})}}    
            </div>
        </div>
        <div class="widget-container">
            <div class="form-widget">
                <label for="new_containers_vendor" class="form-label inline-block text-gray-600">
                    Fournisseur
                </label>
                {{ form_row(form.vendor,{'disabled': true})}}    
            </div>
        </div>
        <div class="widget-container">
            <div class="form-widget">
                <label for="new_containers_gaz" class="form-label inline-block text-gray-600">
                    Type de gaz
                </label>
                {{ form_row(form.gaz,{'disabled': true})}}    
            </div>
        </div>
        <div class="widget-container">
            <div class="form-widget">
                <label for="new_containers_return_date"  class="form-label inline-block text-gray-600">
                    Date de retour <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.return_date)}}    
            </div>
        </div>

        

        {{ form_row(form._token) }}
        <div class="flex space-x-2 mt-3 mb-6 justify-center">
            <div>
                <button type="button" onclick="window.location.href = '{{ path('app_new_containers_index') }}'" class="btn-return bg-blue-600 text-white"> 
                    retour
                </button>

                <button type="submit" class="btn-green-validation bg-green-600 text-white">
                    Sauvegarder
                </button>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}