{% extends 'base.html.twig' %}

{% block title %}Index bouteilles neuves{% endblock %}

{% block body %}

<div class="card-bottle-container">

    <div class="header-title-container">
        <h1>
            Choisir une bouteille
        </h1>
    </div>
    
     <div class="card-holder">
        <div class="card-holder-slip">
            
            {% for nc in newContainers %}
                <div class="bottle-card">
                    <div class="bottle-card-in-new ">
                        <div class="bottle-card-text-content">
                            <h5> <span class="font-bold">{{nc.gaz}}</span> &emsp;&emsp; N° {{nc.number}} </h5>
                            <p>
                                {% set valPercent = 0  %}
                                {% set val = nc.initialWeight %}
                                    {% for vr in volumeRest %}
                                        {% if nc.id == vr.container %}
                                            {% set val = val - vr.totalQ %}
                                            {% set valPercent = (val * 100) / nc.initialWeight %}
                                        {% endif %}
                                    {% endfor %}
                                <i> Quantité restante:</i> <span class="font-bold">{{val|format_number({rounding_mode: 'floor'})}}</span> kg   
                            </p>
                        </div>
                        <div class="bottle-card-buttons-action">

                            {# On peut rapporter la bouteille en dessous de 10% de fluide restant #}
                            {% if valPercent <= 10 and val != nc.initialWeight %}
                                <div>
                                    <button type="button" onclick="window.location.href = '{{path('app_new_containers_edit', {id:nc.id})}}'" class="return-button">
                                        <i class="bi bi-truck text-xl"></i>
                                    </button>
                                </div>
                            {% endif %}
                                <div>
                                    <button type="button" onclick="window.location.href = '{{path('app_new_containers_movements_index', {id:nc.id})}}'" class="array-button">
                                        <i class="bi bi-table text-xl"></i>
                                    </button>
                                </div>  
                                <div>
                                    <button type="button" onclick="window.location.href = '{{path('app_new_containers_movements_new', {id:nc.id})}}'" class="pencil-button">
                                        <i class="bi bi-pencil-fill text-xl"></i>
                                    </button>
                                </div>
                        </div> 
                    </div>
                </div>
            {% else %}
                    <div class="flex m-4 flex-row justify-center ">
                        <p class="text-gray-700 p-4 border-y-4 border-gray-200 font-bold text-2xl mt-12 ">
                            Aucune bouteille de fluide en stock  
                        </p>
                    </div>

            {% endfor %}

        </div>
    </div>

</div>
{% endblock %}
