{{ form_start(form) }}
<div class="form-container-global">
    <div>

        <div class="widget-container">
            <div class="form-widget">
                <label for="tools_type" class="form-label inline-block text-gray-600">
                    Catégorie <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.type)}}
            </div>
        </div>
        <div class="widget-container">
            <div class="form-widget">
                <label for="tools_denomination" class="form-label inline-block text-gray-600">
                   Dénomination <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.denomination)}}   
            </div>
        </div>
        <div class="widget-container">
            <div class="form-widget ">
                <label for="tools_serial_number" class="form-label inline-block text-gray-600">
                    N° de série <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.serial_number)}} 
            </div>
        </div>
        <div class="widget-container">
            <div class="form-widget">
                <label for="tools_control_date" class="form-label inline-block text-gray-600">
                    Date du contrôle  <span class="italic">( ou date d'achat)</span> <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.control_date)}}    
            </div>
        </div>
        <div class="widget-container">
            <div class="form-widget">
                <label for="tools_next_control" class="form-label inline-block text-gray-600">
                    Date du prochain contrôle <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.next_control)}}    
            </div>
        </div>
        <div class="widget-container">
            <div class="form-widget">
                <label for="tools_control_certificate" class="form-label inline-block text-gray-600">
                    N° du dernier certificat <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.control_certificate)}}   
            </div>
        </div>
        <div class="widget-container hidden">
            <div class="form-widget">
                <label for="tools_technicien" class="form-label inline-block text-gray-600">
                    Technicien
                </label>
                {{ form_row(form.technicien)}}    
            </div>
        </div>

        {{ form_row(form._token) }}
        <div class="flex space-x-2 mt-3 justify-center">
            <div>
                <button type="button" onclick="window.location.href = '{{ path('app_tools_index') }}'" class="btn-return bg-blue-600 text-white"> 
                    Retour liste
                </button>

                <button type="submit" class="btn-green-validation bg-green-600 text-white">
                    Sauvegarder
                </button>
            </div>
        </div>

        <div class="flex space-x-2 mt-1 justify-center">
            <div>
                <button type="button" onclick="window.location.href = '{{ path('app_tools_delete', {id:id}) }}'" class="btn-red-delete bg-red-600 text-white">supprimer de l'inventaire</button>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
