{% extends 'base.html.twig' %}

{% block title %}Tools index{% endblock %}

{% block body %}
<div class="table-container">
    <div class="header-title-container">
        <h1>
            Liste outillage
        </h1>
    </div>
    <div class="grid w-full justify-center">
        <a href="{{ path('app_tools_new') }}" class="add-tools">
        <i class="bi bi-plus-circle text-sm font-bold mr-2"> &nbsp; Ajouter outillage</i></a>
    </div>

    <div class="table-holder">
        <div class="table-holder-slip">
            <div class="table-holder-margin">
                <div class="overflow-hidden">
                    <table class="general-table">
                        <thead>
                            <tr>
                                <th scope="col" class="td-head-regular">
                                    Type
                                </th>
                                <th scope="col" class="td-head-regular">
                                    Dénomination
                                </th>
                                <th scope="col" class="td-head-regular">
                                    No série
                                </th>
                                <th scope="col" class="td-head-regular">
                                    Prochain contrôle
                                </th>
                                <th scope="col" class="td-head-regular">
                                    Modifier
                                </th>
                            </tr>
                        </thead class="border-b">
                        <tbody>
                        {% for tool in tools %}
                            <tr>
                            {% if (today|date('U') + 2592000 ) >= (tool.nextControl|date('U') + 0) %}
                                <td class="td-body-regular-red">
                                    <a href="{{ path('app_tools_edit', {id: tool.id}) }}">{{ tool.type }}</a>
                                </td>
                            {% else %}
                                <td class="td-body-regular">
                                    <a href="{{ path('app_tools_edit', {id: tool.id}) }}">{{ tool.type }}</a>
                                </td>
                            {% endif %}
                                <td class="td-body-regular">
                                    {{ tool.denomination }}
                                </td>
                                <td class="td-body-regular">
                                    {{ tool.serialNumber }}
                                </td>
                                    {% if (today|date('U') + 2592000 ) >= (tool.nextControl|date('U') + 0) %}
                                <td class="td-body-regular-red">
                                    {{ tool.nextControl ? tool.nextControl|date('d-m-Y') : '' }}
                                </td>
                            {% else %}
                                <td class="td-body-regular">
                                    {{ tool.nextControl ? tool.nextControl|date('d-m-Y') : '' }}
                                </td>
                            {% endif %}
                                
                                <td class="td-body-regular">
                                {% if app.user == tool.technicien %}
                                <button type="button" onclick="window.location.href = '{{ path('app_tools_edit', {id: tool.id}) }}'" class="btn-orange">
                                    <i class="bi bi-arrow-repeat text-lg"></i>
                                </button>
                                {% endif %}
                                </td>
                            </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-empty-table">Aucune charge effectuée</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
