{{ form_start(form) }}
<div class="grow-0 shrink-0 basis-auto my-4 w-full xl:w-5/12 px-3 lg:px-6 mb-12 xl:mb-0">
    <div>

        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="container_number" class="form-label inline-block text-gray-600">
                    N° de bouteille <i class ="font-bold text-red-600">*</i>
                </label>
                <input type="text" class="form-the-line-medium" id="container_number" value="{{container.number}}" readonly/>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6 hidden">
            <div class="mb-3 xl:w-96">
                <label for="new_containers_movements_technicien" class="form-label inline-block text-gray-600">
                    Technicien
                </label>
                {{ form_row(form.technicien)}}   
            </div>
        </div>

        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="new_containers_movements_quantity_injected" class="form-label inline-block text-gray-600">
                    Quantité injectée <span class="italic">(en kg)</span> <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.quantity_injected)}}    
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="new_containers_movements_date" class="form-label inline-block text-gray-600">
                    Date d'intervention <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.date)}}    
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="new_containers_movements_cerfa_number" class="form-label inline-block text-gray-600">
                    N° du Cerfa <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.cerfa_number)}}   
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="new_containers_movements_customer" class="form-label inline-block text-gray-600">
                    Client <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.customer)}}    
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="new_containers_movements_remark" class="form-label inline-block text-gray-600">
                    Remarque
                </label>
                {{ form_row(form.remark)}}    
            </div>
        </div>


        <div class="grid grid-cols-1 gap-6 hidden">
            <div class="mb-3 xl:w-96">
                <label for="new_containers_movements_new_container" class="form-label inline-block text-gray-600">
                    Bouteille 
                </label>
                {{ form_row(form.new_container)}}   
                {{ form_row(form.quantity_rest)}}   
            </div>
        </div>
        {{ form_row(form._token) }}
        <div class="flex space-x-2 mt-3 justify-center">
            <div>
                <button type="button" onclick="window.location.href = '{{ path('app_new_containers_movements_index', {id: container.id}) }}'" class="btn-blue-return"> 
                    Tableau
                </button>

                <button type="submit" class="btn-green-validation">
                    Sauvegarder
                </button>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
