{% extends 'base.html.twig' %}

{% block title %}Index des mouvements de bouteilles neuves{% endblock %}

{% block body %}
<div class="table-container">

    <div class="header-title-container">
        <h1>
            Tableau des charges
        </h1>
    </div>
    
    <div class="table-title-container  ">
        <h3>
            Bouteille  {{container.gaz}} - N° {{container.number}} 
        </h3>
    </div>

    <div class="table-holder">
        <div class="table-holder-slip">
            <div class="table-holder-margin">
                <div class="overflow-hidden">
                    <table class="general-table">
                        <thead>
                            <tr>
                                <th scope="col" class="td-head-regular">
                                  Client
                                </th>
                                <th scope="col" class="hiddenxs td-head-regular">
                                  Charge
                                </th>
                                <th scope="col" class="hiddenxs td-head-regular">
                                  Date
                                </th>
                                <th scope="col" class="td-head-regular">
                                  Modifier
                                </th>
                            </tr>
                        </thead class="border-b">
                        <tbody>
                        {% for ncm in new_containers_movements %}
                            <tr>
                                <td class="td-body-regular">
                                  {{ ncm.customer }}
                                </td>
                                <td class="hiddenxs td-body-regular">
                                  {{ ncm.quantityInjected }} <span class="text-gray-400"> kg</span> 
                                </td>
                                <td class="hiddenxs td-body-regular">
                                  {{ ncm.date ? ncm.date|date('Y-m-d') : '' }}
                                </td>
                                <td class="td-body-regular">
                                {% if app.user.username == ncm.technicien.username %}
                                <button type="button" onclick="window.location.href = '{{ path('app_new_containers_movements_edit', {id: ncm.id}) }}'" class="btn-orange">
                                    <i class="bi bi-arrow-repeat text-lg"></i>
                                </button>
                                {% else %}
                                    <i class="btn-red-light">
                                        <i class="bi bi-person-x-fill text-lg"></i>
                                    </i>
                                {% endif %}
                                </td>
                            </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-empty-table">Aucune charge effectuée</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
