{% extends 'base.html.twig' %}

{% block title %}Hello UserParamController!{% endblock %}

{% block body %}
<section class="regular-container">
    <div class="header-title-container">
        <h1>
            Espace utilisateur
        </h1>
    </div>

            <div class="up-table-holder">
                <div class="up-table-holder-slip">
                    <table class=" general-table">
                        <tbody>
                            <tr class="tr-grey-regular">
                                <th scope="col" class=" th-body-regular">Nom d'utilisateur</th>
                                <td class="td-body-regular">{{ user.username }}</td>
                            </tr class=>
                            <tr class="tr-white-regular">
                                <th scope="col" class="th-body-regular">Nom Prénom</th>
                                <td class="td-body-regular">{{ user.fullname }}</td>
                            </tr>
                            <tr class="tr-grey-regular">
                                <th scope="col" class="th-body-regular">N° attestation</th>
                                <td class="td-body-regular">{{ user.certificate }}</td>
                            </tr>
                            <tr class="tr-white-regular">
                                <th scope="col" class="th-body-regular">email</th>
                                <td class="td-body-regular">{{ user.email }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

    <div class="element-subtitle-container">
        <h2>
            Fournisseurs
        </h2>
    </div>

            <div class="up-table-holder">
                <div class="up-table-holder-slip">
                    <table class="general-table">
                        <thead>
                            <tr>

                                <th scope="col" class="th-head-regular">
                                    Nom
                                </th>
                                <th scope="col" class="hiddenxs th-head-regular">
                                    Adresse
                                </th>
                                <th scope="col" class=" th-head-regular">
                                    Ville
                                </th>
                                <th scope="col" class="th-head-regular">
                                    Actif
                                </th>
                            </tr>
                        </thead class="border-b">
                        <tbody>
                        {% for v in vendors %}
                            <tr class="tr-stripped">
                                <td class="th-body-regular">
                                    {{ v.name }}
                                </td>
                                <td class="hiddenxs th-body-regular">
                                    {{ v.street }} 
                                </td>
                                <td class=" th-body-regular">
                                    {{ v.city}}
                                </td>
                                <td class="th-body-regular">
                                {% if v.isActive %}
                                    <i class="bi bi-toggle-on px-2 py-1 text-blue-600 text-3xl"></i>
                                {% else %}
                                    <i class="bi bi-toggle-off px-2 py-1 text-blue-700  text-3xl"></i>
                                {% endif %}
                                </td>
                            </tr class="bg-white border-b">
                            {% else %}
                                <tr>
                                    <td >Aucune charge effectuée</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
            </div>
        </div>
   
        
</section>

{% endblock %}
