{{ form_start(form) }}
<div class="grow-0 shrink-0 basis-auto my-4 w-full xl:w-5/12 px-3 lg:px-6 mb-12 xl:mb-0">
    <div>

        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="transfer_container_number" class="form-label inline-block text-gray-600">
                    N° de bouteille <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.number)}}    
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="transfer_container_vendor" class="form-label inline-block text-gray-600">
                    Fournisseur <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.vendor)}}    
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="transfer_container_purchase_date" class="form-label inline-block text-gray-600">
                    Date d'achat <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.purchase_date)}}    
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="transfer_container_tare" class="form-label inline-block text-gray-600">
                    Tare à vide <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.tare)}}    
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6">
            <div class="mb-3 xl:w-96">
                <label for="transfer_container_volume" class="form-label inline-block text-gray-600">
                    Volume <span class="italic">(en Litre)</span> <i class ="font-bold text-red-600">*</i>
                </label>
                {{ form_row(form.volume)}}    
            </div>
        </div>


        {{ form_row(form._token) }}
        <div class="flex space-x-2 mt-3 justify-center">
            <div>
                <button type="button" onclick="window.location.href = '{{ path('app_transfer_containers_index') }}'" class="btn-blue-return"> 
                    Retour liste
                </button>

                <button type="submit" class="btn-green-validation">
                    Sauvegarder
                </button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
