{{ form_start(form) }}
<div class="form-container-global">
    <div>

        <div class="widget-container">
            <div class="form-widget">
                {{ form_row(form.used_container)}} 
            </div>
        </div>
        <div class="widget-container hidden">
            <div class="form-widget">           
                {{ form_row(form.user)}}   
            </div>
        </div>
        <div class="widget-container">
            <div class="form-widget">
                <label for="transfer_container_used_gaz" class="form-label inline-block text-gray-600">
                    Type de gaz
                </label>
                {{ form_row(form.gaz)}}    
            </div>
        </div>
        <div class="widget-container">
            <div class="form-widget">
                <label for="transfer_container_used_total_weight" class="form-label inline-block text-gray-600">
                    Poid du fluide <span class="italic">( en kg )</span>
                </label>
                {{ form_row(form.total_weight)}} 
            </div>
        </div>


        {{ form_row(form._token) }}
        <div class="flex space-x-2 mt-3 justify-center">
            <div>
                <button type="button" onclick="window.location.href = '{{ path('app_transfer_containers_index') }}'" class="btn-blue-return"> 
                    Retour liste
                </button>

                <button type="submit" class="btn-green-validation">
                    Sauvegarder
                </button>
            </div>
        </div>
    </div>
</div>
  
{{ form_end(form) }}
