{% extends 'base.html.twig' %}

{% block title %}Index bouteilles de transfert{% endblock %}

{% block body %}

<section class="container mx-auto ">

    <div class="header-title-container">
        <h1>
            Choisir une transfert
        </h1>
    </div>

    <div class="card-holder">
        <div class="card-holder-slip">
            

            {% set number = 0 %}
            {% for tc in transferContainers %}
                    {% if tc.returnDate == NULL %}
                        <div class="bottle-card">
                            <div class="bottle-card-in">
                                <div class="bottle-card-text-content">
                                    <h5 >N° {{tc.number}} &nbsp;&nbsp; <span class="text-gray-400 ml-4"> {{tc.volume}} Litres</span>  </h5>
                                        <p >
                                                <i> Gaz:</i> 
                                                    {% if tc.gaz is null %}
                                                        <span class="text-gray-500">Aucun </span> <br>
                                                    {% else %}
                                                        <span class="text-gray-500">{{tc.gaz}}</span> <br>
                                                    {% endif %}

                                                <i> Poid du fluide:</i> 
                                                    {% if tc.totalWeight is null %}
                                                        <span class="text-gray-500"> Aucun </span> <br>
                                                    {% else %}
                                                        <span class="text-gray-500">{{tc.totalWeight}} <i>kg</i> </span> <br>
                                                    {% endif %}  
                                            {% set number = tc.number %}
                                        </p>
                                </div>
                                <div class="bottle-card-buttons-action">
                                {% if tc.user == app.user or tc.user == NULL %}
                                    {% if tc.totalWeight == 0 %}
                                    <div class="">
                                        <button type="button" onclick="window.location.href = '{{path('app_transfer_containers_return', {id:tc.id})}}'" class=" btn-orange">
                                            <i class="bi bi-truck text-xl"></i>
                                        </button>
                                    </div> 
                                    {% endif %}
                                    <div>
                                        <button type="button" onclick="window.location.href = '{{path('app_transfer_containers_use', {id:tc.id})}}'" class=" btn-lime">
                                            <i class="text-xl bi bi-calendar2-check"></i>
                                        </button>
                                    </div>
                                {% else %}
                                    {% if tc.usedContainer == true %}
                                        <div  class="mt-3 w-full text-center">
                                            <i> Utilisateur actuellement par: &nbsp; </i> <span class="text-gray-500">{{tc.user.username}}</span> <br>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                </div> 
                            </div>
                        </div>
                    {% else %}
                    {% endif %}
                {% else %}
                    <div class="flex m-4 flex-row  justify-center ">
                        <p class="text-gray-700 p-4 border-y-4 border-gray-200 font-bold text-base mt-12 ">
                            Aucune bouteille de transfert en stock  
                        </p>
                    </div>

            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}
