{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}

<section class="card-menu-container">

    <div class="card-menu-container-title">
        <h1 >
            Sélectionner un item
        </h1>
    </div>

    {# New container #}
    <div class="flex flex-col sm:flex-row justify-center">
        <div class="card-bte">
            <a href="{{ path('app_new_containers_index')}}">
                <div class="div-card-img ">
                    <img class="img-card-bte" src="{{ asset('images/nc.png')}}" alt="" />
                </div>
            </a>
        </div>

        {# transfer container #}
        <div class="card-bte">
            <a href="{{ path('app_transfer_containers_index')}}">
                <div class="div-card-img">
                    <img class="img-card-bte" src="{{ asset('images/tc.png')}}" alt="" />
                </div>
            </a>
        </div>

        {# recovery container #}
        <div class="card-bte">
            <a href="{{ path('app_recovery_containers_index')}}">
                <div class="div-card-img">
                    <img class="img-card-bte" src="{{ asset('images/rc.png')}}" alt="" />
                </div>
            </a>
        </div>
    </div>

</section>

{% endblock %}
